* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
  }
  :root {
      background:linear-gradient(to right,
      rgb(20,135,56) 2%,
      rgb(20,135,56) 20%,
      rgb(215,14,24) 80%,
      rgb(215,14,24) 100%);
    }
